
{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

<h2>{{article.article_title}}</h2>

<p>{{article.article_text}}</p>

<em>{{article.pub_date}}</em>

{% if article.was_published_recenyly %}
НОВАЯ СТАТЬЯ
{% endif %}
<hr>

{% if latest_comment_list %}
    {% for c in latest_comment_list %}
        <p>
          <strong>{{c.author_name }} :</strong>
          <strong>{{c.comment_text}}</strong>
        </p>

        <a href="{{ c.get_absolute_url }}" method="POST" onclick="return confirm('Вы уверены, что хотите удалить этот комментарий?')">Удалить</a>


    {% endfor %}

{% else %}
Коментарии не найдены! Станьте первым ;)
{% endif %}

<hr>

<!-- <from action="{% url 'articles:leave_comment' article.id %}" method="POST"> -->
<form action="{% url 'articles:leave_comment' article.id %}" method="POST">
    {% csrf_token %}
    {{ form.name.errors }}
    <input type="text" required placeholder="Ваше имя" name="name" id="name"><br>
    <textarea name="text" required="" placeholder="Текст коментария" rows="10" cols="30" id="text"></textarea><br>
    <input type="submit" value="отправить">

</form>

{% endblock %}
